<section class="row">
    <div class="offset-md-4 col-md-8">
        <nav ngbDropdown class="d-block">
            <a class="link-item" id="form-recovery-password" ngbDropdownToggle>Esqueceu a senha?</a>
            <div class="row">
                <form [formGroup]="recovery" class="col-12 col-md-6 px-2 shadow" ngbDropdownMenu aria-labelledby="form-recovery-password">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text"><i-bs name="personCircle"></i-bs></div>
                        </div>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="inlineFormInputGroupUsername2" 
                            placeholder="Informe o e-mail cadastrado"
                            name="email"
                            FormControlName="email"
                            >
                            <button class="btn btn-outline-primary btn-sm">button</button>
                    </div>
                    <small class="text-muted">Suas credenciais serão enviadas para seu e-mail</small>
                </form>
            </div>
        </nav>
    </div>
</section>
