<section class="row">
    <div class="col-12 col-md-6">
        <label for="fullName" class="col col-form-label">
            <i-bs name="personCircle"></i-bs> E-mail de acesso<span class="text-danger">*</span>
        </label>
        <input type="email" class="form-control" [(ngModel)]="email" disabled="true">
    </div>
    <div class="col-12 col-md-6">
    <label for="identifier" class="col col-form-label">
        <i-bs name="lockFill"></i-bs> Minha Senha<span class="text-danger">*</span>
    </label>
        <input type="identifier" class="form-control" [(ngModel)]="identifier" disabled="true">
    </div>
    <div class="col-12">
        <small class="text-muted">Esses são os seus dados para login.</small>
    </div>
</section>

